<header>
  <div id="head">
      <div class="navigation">
          <h1>Portfolio</h1>
          <ul id="navmenu">
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="skills">Skills</a></li>
              <li><a routerLink="services">Services</a></li>
              <li><a routerLink="edu">Education</a></li>
              <li><a routerLink="project">Project</a></li>
              <li><a routerLink="contact">Contact</a></li>
          </ul>
         <span><i class="fa-solid fa-bars"></i></span>
      </div>

     <div id="navmenu1">
      <nav class="navbar navbar-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand">Portfolio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h4 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><i class="fa-solid fa-house-user"></i>&MediumSpace;Home</h4>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 ">
             <li><a routerLink="">Home</a></li>
              <li><a routerLink="skills">Skills</a></li>
              <li><a routerLink="services">Services</a></li>
              <li><a routerLink="edu">Education</a></li>
              <li><a routerLink="project">Project</a></li>
              <li><a routerLink="contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
  </div>

  </div>
</header>


