<footer>
  <div class="footer">
      <h3>Portfolio</h3>
      <ul id="navmenu">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="skills">Skills</a></li>
        <li><a routerLink="services">Services</a></li>
        <li><a routerLink="edu">Education</a></li>
        <li><a routerLink="project">Project</a></li>
        <li><a routerLink="contact">Contact</a></li>
    </ul>
      <div class="foot-links">
          <a href="https://www.instagram.com/sagarj_1314/" target="_blank"><i
                  class="fa-brands fa-square-instagram"></i></a>
          <a href="https://twitter.com/SagarJogmerkar" target="_blank"><i
                  class="fa-brands fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/sagar-jogmerkar/" target="_blank"><i
                  class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/sagar1314" target="_blank"> <i class="fa-brands fa-github"></i></a>
      </div>
  </div>
  </footer>
