<form action="https://formspree.io/f/mzbqdvaw" method="POST">
<div id="contact">
  <div class="heading-data">
    <h6>Get in Touch</h6>
    <h4>Contact Me</h4>
  </div>
  <div class="main-contact">
    <div class="contact-data">
      <div class="cont-container">
        <i class="fa-regular fa-envelope y"></i>
        <h5>Email</h5>
        <p>jogmerkarsagar@gmail.com</p>
        <span>Send a Message</span>
      </div>
      <div class="cont-container">
        <i class="fa-brands fa-instagram y"></i>
        <h5>Instagram</h5>
        <p><a href="https://www.instagram.com/sagarj_1314/" target="_blank">Sagar_Jogmerkar</a></p>
        <span>Send a Message</span>
      </div>
      <div class="cont-container">
        <i class="fa-brands fa-whatsapp y"></i>
        <h5>WhatsApp</h5>
        <p>+91 8356825400</p>
        <span>Send a Message</span>
      </div>
    </div>


      <div class="contact-details">
        <input type="text" name="name" placeholder="Enter Your Full Nmae">
        <input type="email" name="email" placeholder="Enter Your Email">
        <textarea name="message" id="" cols="10" rows="8" placeholder="Enter Your Massage" style="resize: none;"></textarea>
        <button class="buttons btn" type="submit">Send Massage</button>
      </div>
    </div>
  </div>
</form>
