<div id="skill">
  <div class="heading-data">
      <h6>What Skills i Have</h6>
      <h4>My Skills</h4>
  </div>
  <div class="skills">
      <div class="frontend">
          <h4>Frontend Development</h4>
          <div class="front-data">
              <div>
                  <div><i class="fa-solid fa-certificate"></i>Html<p>Advanced</p>
                  </div>
                  <div><i class="fa-solid fa-certificate"></i>CSS<p>Advanced</p>
                  </div>
                  <div><i class="fa-solid fa-certificate"></i>JavaScript<p>Advanced</p>
                  </div>
              </div>
              <div>
                  <div><i class="fa-solid fa-certificate"></i>bootstrap<p>Advanced</p>
                  </div>
                  <div><i class="fa-solid fa-certificate"></i>jquery<p>Intermediate</p>
                  </div>
                  <div><i class="fa-solid fa-certificate"></i>Angular<p>Advanced</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="frontend">
          <h4>Backend Development</h4>
          <div class="front-data">
              <div>
                  <div><i class="fa-solid fa-certificate"></i>Node.js<p>Intermediate</p>
                  </div>
                  <div><i class="fa-solid fa-certificate"></i>Express.js<p>Intermediate</p>
                  </div>
                  <div><i class="fa-solid fa-certificate"></i>JSON<p>Intermediate</p>
                  </div>
              </div>
              <div>
                  <div><i class="fa-solid fa-certificate"></i>MongoDB<p>Advanced</p>
                  </div>
                  <div><i class="fa-solid fa-certificate"></i>Mysql<p>Intermediate</p>
                  </div>
                  <div><i class="fa-solid fa-certificate"></i>Python<p>beginner</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
