<div id="prj">
  <div class="heading-data">
    <h6>What project i did</h6>
    <h4>Project</h4>
</div>
<div class="proj">
  <div class="project">
    <mat-card class="example-card">
      <h5>Portfolio</h5>
      <img mat-card-image src="../../../assets/portfolio.png" alt="">
      <mat-card-content>
        <p>
          Developed web application where user can see about me and my project ,skills, Services, Education and also user
          can see hamburger menu.
        </p>
        <p>Tools: Html, Css, Bootstrap,TypeScript, Angular</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn button">LIKE</button>
        <button class="btn button">SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>


  <div class="project">
    <mat-card class="example-card">
      <h5>CRUD Operation</h5>
      <img mat-card-image src="../../../assets/CRUD.png" alt="">
      <mat-card-content>
        <p>
          Developed the CRUD operation name Studentlist using json-server and angular material where user can add, delete, update studentdata.
        </p>
        <p>Tools: Html, Css, Bootstrap,TypeScript, Angular, Angular-material</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn button">LIKE</button>
        <button class="btn button">SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="project">
    <mat-card class="example-card">
      <h5>Cake-shop</h5>
      <img mat-card-image src="../../../assets/cake-shop.png" alt="">
      <mat-card-content>
        <p>
          Developed a cake-shop web design. It is responsive website where user can see all products. Great Visualization and Controls. also you can see hamburger menu which created in javaScript
        </p>
        <p>Tools: Html, Css, Bootstrap, javaScript</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn button">LIKE</button>
        <button class="btn button">SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
</div>
