<div class="education-section" id="edu">
  <div class="heading-data">
      <h6>What have i Studied</h6>
      <h4>Education</h4>
  </div>
  <div class="education">

      <div class="education-data">
          <i class="fas fa-graduation-cap font"></i>
          <span>2022</span>
          <h4>Mumbai Univercity</h4>
          <p>Bachelor's of Science-Information technology</p>
      </div>

      <div class="education-data">
          <i class="fas fa-graduation-cap font"></i>
          <span>2019</span>
          <h4>H.S.C (Science)</h4>
          <p>Valia College</p>
      </div>

      <div class="education-data">
          <i class="fas fa-graduation-cap font"></i>
          <span>2017</span>
          <h4>S.S.C</h4>
          <p>Versova Welfare Association High School</p>
      </div>


      <div class="education-data">
          <i class="fas fa-graduation-cap font"></i>
          <span>2022</span>
          <h4>Livewire</h4>
          <p>Full Stack Developer |
              Mean Stack Developer</p>
      </div>

  </div>
</div>
