<div id="service">
  <div class="heading-data">
      <h6>What i Offer</h6>
      <h4>Services</h4>
  </div>
  <div class="services">
  <div class="service-data">
      <div class="serv">
          <h6>Full Stack Developer</h6>
      </div>
      <div class="serv-details">
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
      </div>
  </div>
  <div class="service-data">
      <div class="serv">
          <h6>Node.js Developer</h6>
      </div>
      <div class="serv-details">
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
      </div>
  </div>
  <div class="service-data">
      <div class="serv">
          <h6>Angular Developer</h6>
      </div>
      <div class="serv-details">
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
      </div>
  </div>
  <div class="service-data">
      <div class="serv">
          <h6>Software Developer</h6>
      </div>
      <div class="serv-details">
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
      </div>
  </div>
  <div class="service-data">
      <div class="serv">
          <h6>Python Developer</h6>
      </div>
      <div class="serv-details">
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
      </div>
  </div>
  <div class="service-data">
      <div class="serv">
          <h6>Web Design</h6>
      </div>
      <div class="serv-details">
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
          <div class="x"> <i class="fa-solid fa-check"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt!</p>
          </div>
      </div>
  </div>
  </div>
</div>
