<div id="home">
  <div class="container">
      <div class="data">
          <h3>HI THERE !</h3>
          <h1>I'M <span class="name">Sagar Jogmerkar</span></h1>
          <p>Passionate on Web Development and application development using Angular14 and Node JS. Having
              good practical exposure in JavaScript, Express JS and Mongo DB. Addition to tha have worked
              on Python and Mysql too. Ready to learn and explore new opportunities in Web Development Now.
          </p>
          <button class="btn" id="button"><a href="assets/sagar_jogmerkar-CV.pdf" target="_blank">Download CV<i class="fas fa-download"></i></a></button>

      </div>
      <div class="img">
          <div class="img-circle">
              <img src="assets/sagar-photo.jpeg" alt="">
          </div>
      </div>
  </div>
</div>
